

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@600&family=Raleway:ital,wght@0,400;0,600;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lumanosimo&family=Pangolin&family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Notable:wght@400&display=swap');

html {
    scroll-behavior: smooth;
  }

:root {
    --navlist-color: #cb7139;
    /* --navlist-color: #6a6551; */
    /* --navlist-color: #6699cc; */
  
    --navbar-change-color: white;
    --text: white;
    --background: white;
    --primary: #1380b4;
    --secondary: #1380b4;
    --accent: #d9a412;
    --footer-background-color: #fae9bd;
    --footer-scroll-top-color: #fae9bd;
    --footer-text-color: #000000;
  }


  .navbar.sticking li a {
    color: white;
    /* color: #cbb89d; */
    border: none;
  
  }
*{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

.contain{
    position: relative;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    
}
.fest_header_container{
    width: 70%;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-end;
    gap: 10px;
}
.glide__slide img{
    object-fit: contain;
    aspect-ratio: 1/1; 
    width:100%;
  }
  .fest_header_container h1::after{
    content: '';
    height: 2px;
    width: 0px;
    bottom: -10px;
    display: block;
    position: absolute;
    background: -webkit-linear-gradient(-90deg,#024069,#9e06f6);
    transform-origin: left;
    animation: line 0.7s ease forwards;
    animation-delay: 1s;
  }
  @keyframes line{
    0%{
      width: 0;
    }
    100%{
      width: 100px;
    }
    
  }

.fest_header_container button{
    border-radius: 20px;
    background: conic-gradient(from 90deg, #9e06f6,#450269,#5e0283);
    color: white; 
    font-family: 'Poppins';
    font-weight: 600;
    cursor: pointer;
    border: none;
}


.fest_header_container button:hover{
    box-shadow: 0px 0px 10px black;
    opacity: 0.8;
    transition: all 0.5s ease;
}

.fest_header{
    text-align: left;

    font-family: 'Poppins';
    font-style: italic;
    color: white;
}

.contain_header{
    text-align: left;
    position: relative; 
    font-family: 'Poppins';
    letter-spacing: 1px;
    COLOR: WHITE;
    font-weight: 900;
    text-shadow: 0px 0px 80px rgba(0, 0, 0, 0.16);
    background: -webkit-linear-gradient(-90deg,#44016b,#9e06f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   
.fest_navbar_header{
    font-family: Poppins;
    margin-left: 10px;
}
#ii{
    font-family: 'rock salt';
    font-size: 3rem;
    font-style: italic;
    letter-spacing:5px;
    color:white;
    text-shadow: 0px 0px 15px black;

}


#nextsection img{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.contain2{
    scroll-snap-type: y mandatory;
    width: 100%;
    /* background: linear-gradient(to bottom, #041724, #0b4151); */

    position: relative;
    top: 0;
    left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    /* margin-top: -80px; */

}

.fest-left-card{
    scroll-snap-align: start;
    margin-bottom: 49px;
    width: 80%;
    height: 500px; 
    background: linear-gradient(#1380b4, #0c3458);

    position: relative;
    top: 50px;
    border-end-end-radius: 50px;
    border-top-right-radius: 50px;
    padding-block: 100px;
    padding-inline: 50px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s ease;
    transform: scale(0.9) translateX(-100px);
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.fest-left-card:hover{
    transform: scale(1) translateX(0px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.fest-right-card{
    scroll-snap-align: start;

    margin-bottom: 49px;
    width: 80%;
    height: 500px; 
    background: linear-gradient(#1380b4, #0c3458);
    position: relative;
    top: 50px;
    padding-block: 100px;
    padding-inline: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-end-end-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
   right: -20%;
   transition: all 0.5s ease;
   transform: scale(0.9) translateX(100px);
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


}
.fest-right-card:hover{
    transform: scale(1) translateX(0px);
    /* box-shadow: 0px 0px 10px black; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}


.fest_content{
    width: 75%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;

}
.fest_links{
    /* width: 50%; */
    display: flex;
    /* height: 50px; */
    /* border: 2px solid red; */

    margin-top: 20px;
    gap: 20px;
}

.fest_links img, .fest_links i{
    /* margin: 0 20px; */
    /* background: #eee; */
    height: 30px;
    width: 30px;
    aspect-ratio: square;
    font-size: 2rem;
    display: grid;
    place-items: center;
    transition: all 0.2s ease-in-out;
}

.fest_links i:hover, .fest_links img:hover{
    transform: scale(1.2);
}

.wrap-slider{
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.radio-container{
    display: flex;  
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}


.radio-container button{
    border: none;
    border-radius: 50%;
    background: #1380b4;
    height: 15px; 
    width: 15px;
    margin: 0 10px;
    transition: all 1s ease;
    cursor: pointer;
    z-index: 99999;
    box-shadow: 0px 0px 10px #0c3458;
}
.radio-container .current-slide{
    background: #1bb1de;
}


.fest_content h1{
    font-family: 'POPPINS';
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3.5rem;
    color: #e8f3fc;
    text-shadow: 5px 0px 25px #0c3458;
    letter-spacing: 10px;
    /* text-shadow: 0px 0px 10px white; */

}

.fest_content h1:after{
    content: '';
    height: 2px;
    width: 100px;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -50px;
    background-color: #e8f3fc;
    margin-top: 5px;
    border-radius: 24px;
    box-shadow: 5px 5px 10px #0c3458;

}


.fest_content h4{
    font-family: 'PT Sans';
    line-height: 21px;
    font-size: 1.1rem;
    font-weight: 100;
    text-align: center;
    color: white;
}







.imageslider{
    width: 100%;
    /* background: #aaa; */
    height: 400px;
    position: relative;
    display: flex;
    overflow: hidden;
    filter: drop-shadow(0px 0px 10px black);

}

.imageslider_wrapper{
    position: relative;
    width: 100%;
    display: flex;
    height: auto;
    left: 0;
    object-fit: contain;
    transition: all 0.7s ease;

    
    /* width: 1000px; */
    /* right: 100%; */
}
.imageslider_wrapper img{
    height: 400px;
    width: 100%;
    position: absolute;
    top: 0;
    object-fit: contain;
    transition: all 0.7s ease;
    /* aspect-ratio: 16/9; */
}
.wrap-slider{
    width: 50%;
    display: flex;

    /* position: relative; */
}




@media only screen and (max-width: 900px){
    .contain_header{
        font-size: 2rem;
    }
    #ii{
        font-size: 1rem;
    }

    .fest-left-card, .fest-right-card{
        width: 100%;
        flex-direction: column;
        padding: 0;
        padding-top: 10px;
        height: auto;
        transform: scale(1) translateX(0px);

    }
    .fest-right-card{
        right: 0;
    }
    .wrap-slider{
        width: 80%;
        /* height: auto; */

    }
    .radio-container{
        padding: 0px;
        margin-top: -50px;
    }
    .fest_content{
        padding: 20px;
        width: 100%;
        height: auto;
    }
    .imageslider_wrapper img{
        height: 300px;
        scroll-snap-align: start;
    }

    .fest_content h1{
        font-size: 2.2rem;
    }
    .fest_content h4{
        margin-top: 30px;
    }
    .imageslider_wrapper{
        
        left: 0;
    }

    /* .imageslider{
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        height: 300px;

    } */


    
}
