
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@600&family=Raleway:ital,wght@0,400;0,600;1,300&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y:scroll;
    cursor: grab;

}

.logo img{
    width: 30vh;
    height: 30vh;
    background-size: cover;
    position: absolute;
    top: 5px;
    left: 15px; 
    filter: drop-shadow(0px 5px 1px white);
}
.name{
    /* display: flex; */
    height: 6vh;
    width: 100%;
    /* margin-top: 10px; */
    margin-left: 8vh;
    text-align: center;
    box-sizing: border-box;
    /* padding: 5px 5px; */
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    font-weight: 800;
    /* display: none; */
    display: flex;
    justify-content: space-between;
}
.name img{
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.main{
    position: absolute;
    margin-top: -64px;
}
.main, .main4{
    
    max-width: 100%;
    width: 100%;
    height: 100vh;
    /* overflow-y: auto; */
    /* min-height: 100vh; */
    position: relative;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(./images/iiserb.jpeg);
    background-size: cover;
}
.navbar{
    width: 100%;
    height: 8vh;
    z-index: 999;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    max-width: 100%;
    color: black;
    /* background: blue; */
    padding-top:2vh;
    padding-bottom: 30px;
    transition: all 0.5s linear;
}


.navbar.sticking{
    background: #333;
    box-shadow:0px 0px 20px black;
}

.navbar.sticking li a {
    color: white;

}
.navbar.sticking li a:hover{
    color: black;
} 



.navbar .content{
    max-width: 100%;
    width: 97%;
    height: 6vh;
    position: relative;
    top: 0%; 
    
}
.navbar .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: red; */
    text-align: center;
    padding-top: 30px;
}
.icon{
    font-size: 20px;
    display: none;
    cursor: pointer;
}
.icon.menu-btn{
    position: absolute;
    right: 30px;
}
.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
.list{
    width: 100%;
    height: 8vh;
    /* position: absolute; */
    box-sizing: border-box;
    display: flex;

    font-family:'Poppins',sans-serif;
}

.list li{
    list-style-type: none; 
    padding-right: 20px;
    /* display: inline-block; */
}
.list li a{
    font-size: 19px;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: 600;
    border: 1px solid transparent;
    transition: all 0.2s linear;
}
.main2{
    max-width: 100%;
    width: 100%;
    background: white;
    background-attachment: fixed;
    background-size: cover;

}
.aboutus{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 50px;
    background: #eee;
    text-align: center;
    align-items: center;
}
.header{
    font-size: 2.5rem;
    font-family: 'Montserrat';
    position: relative;
    top: 15%;
    left: -1%;
}
.main2 p{
    font-size: 1rem;
    font-family:'Poppins';
    width: 90%;
    background: white;
    padding: 50px;
    margin: 0;
    position: relative;
    margin-top: 30px;
    left: 5%;
}

li a:active{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.5);
    background: white
}
li a:hover{
    text-decoration: none;
    border-color: white;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    background: white;
    text-shadow: 0px 3px 5px rgba(88, 78, 78, 0.078);
}
.material-symbols-outlined{
    -webkit-animation: leadarrow 1.5s infinite;
  	animation: leadarrow 1.5s infinite;
}
.material-symbols-outlined:hover{
    cursor: pointer;
    
}

@-webkit-keyframes leadarrow {
    0% {
      -webkit-transform:  translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform:  translate(0px, 20px);
      opacity: 0;
    }
  }
.title{
    width: 80%;
    height: 50vh;
    box-sizing: border-box;
    padding: 10px 0px 0px 0px;
    color: white;
    position: relative;
    top: 27%;
    left: 5%;
    text-align: center;
}

.sac{
    font-size: 3.7rem;
    font-family: 'Montserrat', serif;
    position: absolute;
    left: 27%;
    top: 10%;
    padding: 10px 0px;
    text-shadow: 0px 5px 10px black;
}

.iiserb{
    font-size: 2rem;
    position: absolute;
    left: 28%;
    font-family:'BEBAS NEUE', cursive;
    top: 35%;
    text-shadow: 0px 5px 10px black;
    letter-spacing: .2em;
    margin: 0 auto;

}




@media (min-width: 900px)
{

.title .sac{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.05em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 70% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  
  .fa-bars{
    color: white;
    margin-right: 50px;
  }

} 
.main{
    text-align: center;
    align-items: center;
} 


.titlebar{
    width: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    /* background: blue; */
    text-align: center;
}

.mem-title{
    width: 100%;
    text-align: center;
    font-weight: 20;
    color: white;
    font-size: 2rem
}
.underline{
    width: 100%;
    height: 10px;
    margin-top: -10px;
    text-align: center;
}

.members{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    /* border: 2px solid white; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    /* top: 16%; */

    padding-top: 50px;


}
.row{
    /* border: 2px solid blue; */
    width: 100%;
/* border: 2px solid black; */
    height: 250px;
    display: flex;
    min-width: 80%;
    align-items: center;
    justify-content: space-around;  
    padding-top: 10px;
    margin: 0;
     
}
.box{
    width: 33%;
    height: 100%;
    padding-top: 10px;
    color: black;
    line-height: 0.51em;
    text-align: center;
    align-items: center;
    /* background: red; */

}
.box img{

    height: 130px;
    aspect-ratio: 16/9;
    background: white;
    object-fit: contain;
    /* filter: drop-shadow(5px 3px 5px #111); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 8px;
    padding: 2px;


}

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 50px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  
}

/* h1 span {
display: block;
font-size: 0.5em;
line-height: 1.3;
}
h1 em {
font-style: normal;
font-weight: 600;
} */
.one h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .one h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
  }
  .one h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
  }
.eight h1 {
text-align:center;

text-transform:uppercase;
font-size:26px; letter-spacing:1px;

display: grid;
grid-template-columns: 1fr auto 1fr;
grid-template-rows: 16px 0;
grid-gap: 22px;
}

.eight h1:after,.eight h1:before {
content: " ";
display: block;
border-bottom: 2px solid #ccc;
background-color:#f8f8f8;
}
.container{
    width: 100%;
    background: #ddd;
    height: auto;
    position: relative;
    margin-top: -20%;
    z-index: 999;
    text-align: center;
    align-items: center;
    padding: 5%;
    padding-top: 0;
  
}
.bar > img, #culture, h1>img{
    width: 30%;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    object-fit: cover;
}
.container > .content-block{
    width: 80%;
    height: auto;
    /* border: 2px solid black; */
    position: relative;
    padding: 10px;
    left: 10%;
    margin-bottom: 10px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: space-between;
    

}
.content-block > .matter{
    width: 70%;
    height: auto;
    word-wrap: break-word;

    padding: 30px;
    font-size: 1.5rem;
}
.content-block > .logo_council{
    width: 25%;

    /* background: url(./images/imageprofile.jpeg);
    background-size: cover; */
    margin: 0;
    padding: 0;
}
.logo_council > img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.fa-brands, .fa-regular{
    font-size: 50px;
}
.links{
    position: relative;
    top: 25%;
    display: flex;
    justify-content: space-around;
}
.matter > .head{
    font-family: 'BEBAS NEUE';
    font-size: 40px;
}
.links > a{
    transition: all 0.3s ease;
}

.links > a:hover{
    transform: scale(1.2);
}

.council_main{
    width: 100%;
    height: 100vh;
}


.senatemain{
    height: 150vh;
}
.image > img{

    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    filter: drop-shadow(0px 0px 1px black);
}
.senate h3{
    font-family: Raleway;
    font-style: italic;
}

.senaterow{
    align-items: center;
    margin-bottom: 75px;
}

.senate{
    /* align-items: center; */
    text-align: center;
    /* transition: all 1s ease-in-out; */
    height: auto;
    overflow: hidden;
    /* border: 2px solid blue; */

    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}
.image{
    position: relative;
    left: 20%;
    width: 220px;
    height: 210px;
    overflow: hidden;
    transition: 0.5s;
}
.senatelinks{
    width: 200px;
    position: relative;
    top: -60%;
    left: 3%;
    display: flex;
    color: white;
    transform: translateY(200px);
    transition: all 0.3s ease-in-out;

}
.senatelinks i, i:active, i:checked{color: white}
.senate .fa-brands,.senate .fa-regular{
    padding: 0px;
    font-size: 45px;
    text-shadow: 1px 3px 6px black;
    /* background: red; */
}
/* img{border:2px solid red;} */

.image:hover, .image:active{
    opacity: 0.6;

}
.image:hover img{
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 5px 2px);

}
.image:hover .senatelinks{
    transform: translateY(0px);
}
/* }
.fa-instagram{
    background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  border-radius: 50px;
}

 */













.main3{
   align-content: center;
   margin: 20px;
}

.content-block{
    z-index: -1;
    position: relative;
    top: -100%;
    /* opacity: 0; */
    transition: all 0.3s ease-in-out;
}
#culture{
    transition: all 0.7s ;
    z-index: 99;
}
.bar{
    padding: 50px;
    /* background: black; */
}
h2{
    line-height: 25px;
    color: black;
    font-family: 'Raleway', sans-serif;
}

#council{
    /* width: 100%; */
    transition: 0.2s all ease;
}
#council:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
a{
    text-decoration: none;
}
.pyramid {
    width: 200px;
    display: flex;
    flex-direction: column;
    height: 180px;
    -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
  
  }
  
  
  
  .pyramid__section {
    flex: 1 1 100%;
    background-color:  rgb(93, 17, 174);
    margin-bottom: 2px;
  }
  
  .pyramid__section:nth-of-type(even) {
    background-color: lightgray;
  }
  
  .pyramid__section:hover {
    background-color:rgb(56, 0, 147);
  }
  
 

/* FOOTER CSS */
:root{
	--footer-background-color:#00020b;
	--footer-scroll-top-color:#000106;
}
.footer {
	width: 100%;
	background: var(--footer-background-color);
	display: block;
	position: relative;
	line-height: 1.42857143
 }
 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }
.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
	text-align: left;
}
.footer-items p {
	font-size: 20px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}
.footer-items h1 {
	color: #fff;
}
.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}
.footer-items ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
    letter-spacing: 0.5px;	
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
 }
.footer-items ul a ,.footer-items a {
	text-decoration: none;
	outline: none;
	color: #bbb;
	transition: 0.3s;
}
.footer-items ul a:hover,.footer-items a:hover  {
	color: #fff;
    text-decoration: underline;
    cursor: pointer;
    background: transparent;
}
.footer-items ul li {
	margin: 0px;
	padding: 10px 0;
	/* height: 25px; */
	width:100%;	
	border-bottom: 1px dotted #333333;
	display: flex;
}
.footer-items ul li i{
	margin-right: 10px;
	/* height: 25px; */
}
.footer-items ul li a {
	 margin-left: 1px; 
}
.footer-heading {
	position: relative;
	display: inline-block;
	font-size: 1.5em !important;
	font-weight: 300 !important;
	margin: 0 0 15px 0;
	font-family: 'Lato',sans-serif !important;
	font-weight: 400 !important;
}
.footer-heading:after {
	position: absolute;
	content: '';
	top: 100%;
	height: 1px;
	width: 40px;
	left: 0;
	margin: 0 auto;
	background: #3498db
}
.heading{
    text-decoration: none;
    font-weight:200px;
    color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: #333333;
}
.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}
.social-media a {
	text-decoration: none;
}
.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}
.social-media i:hover {
	transform: scale(1.5);
}
.footer-bottom {
	padding: 10px;
	background: var(--footer-background-color);
	color: #aaa;
	font-size: 12px;
	text-align: center;
}
.scroll-top-button{
	background: var(--footer-scroll-top-color);
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	font-size: 20px;
	max-width: 300px;
	float:right;
	text-align: center;
}
.scroll-top-button:hover{
	cursor: pointer;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
@media screen and (min-width: 660px) {
	.scroll-top-button{
		min-width: 200px;
	}
	.scroll-top-button{
		margin-top: 50px;
	}
}
/* for tablet mode view */
@media screen and (max-width: 900px) {
	.footer-items {
		width: 50%;
	}
}
/* for mobile screen view */
@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
	.scroll-top-button{
		float: none;
		margin: auto;
		margin-top: 50px;
	}
}
@media screen and (min-width: 900px) {
	.scroll-top-button{
		margin-top: 100px;
	}
}
@media screen and (min-width:900px){
	.brdr-left{
		border-left:2px solid #7d7d7d !important;
	}
}
.boards-footer-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;-webkit-box-pack: justify;
    justify-content: space-between;
}
.boards-footer-flex > a{
	margin: 0 4px;
}
.boards-footer-flex>a:last-child{
	margin-right: 0;
}

.fest_main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.fest{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #010718;
    overflow-X: hidden;
}
.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.9)
      );
      z-index: 999;
}

.mainfest{
    width: 100%;
    height: 100vh;
    background: red;
    position: absolute;
    top: 100vh;
}

.overlay .text{
    color: #111;
    font-family: BEBAS NEUE;
    letter-spacing: 1rem;
    font-size: 10rem;
    position: relative;
    top: 50%;
    left: 50%;
    text-shadow: 2px 2px 5px white;
    transform: translate(-25%, -50%);
}



@media only screen and (max-width: 972px){
    .main{
        overflow-x: hidden;
        margin-top: -12vh;
    }
    .icon{
        display: block;
        size: 30px;
        color: black;
    }
    .logo img{
        
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;

    }
    .name img{
        
        top: 10px;
        left: 10px;
        display: block;
        filter: drop-shadow(0px 3px 1px #ddd);
    }
    
    .title{
        position: relative;
        top: 20%;
        left: 0%;
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;

    }
    .sac{
        position: relative;
        font-size: 2rem;
        top: 0;
        left: 0%;
    }
    .iiserb{
        position: relative;
        top: 10%;
        left: 0%;
        font-size: 1.5rem;
    }
    .fa-bars{
        position: relative;
        top:0%;
        left:0;
        margin-top: 10px;
        font-size: 30px;
        transition: all 0.4s ease;
        padding: 10px;
        border-radius: 20%;
        border: 2px solid #aaa;
        color: white;
    }

    .fa-times{
        font-size: 30px;
        margin-right: 25px;
        padding: 10px;
    }
    .fa-times:active{background: black; color: white;}

    .name{
        display: flex;
        align-items: center;
    }
    .material-symbols-outlined{
        display: none;
    }
    .navbar{
        box-sizing: border-box;
        padding: 0px;
        margin: 0;
        height: 12vh;
        
    }
    .navbar .list{
        margin: 0;
        position: fixed;
        text-align: center;
        top: 0%;
        left: -100%;
        display: block;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: white;
        border: 2px solid grey;
        float: none;
        text-align: center;
        transition: all 0.5s ease;
        padding: 0;

    }
    .navbar .list li{
        box-sizing: border-box;
        margin-top: 50px;
        padding-block: 20px;
        text-align: center;
        line-height: 10px;
        top: 10%

    }
    .navbar .list.active{
        left: 0;
    }
    .navbar .list li a {
        color: black;
        border-style: none;
        font-size: 30px;
        background: none;

    }
    .menu-btn.hide{
        display: none;
    }
    i{
        size: 5rem;
    }
    .row{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;

        
    }
    .box{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image{
        align-items: center;

        margin-right: 40%;
    }

    .content-block{
        align-items: center;
       flex-direction: column;
    }
    .content-block:nth-child(2n+1){
        flex-direction: column-reverse;
    }

    .content-block > .matter{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .logo-council > img{
        width: 100%;
        height: auto;
    }
    .council_main{
        height: auto;
        align-items: center;
    }
    .box{
        padding: 10px;
        /* border: 2px solid red; */
        align-items: center;
    }
    
    .senatemember{
        align-items: center;

    }

}

.spinner-wrapper{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    z-index: 99999;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}