@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@600&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y:scroll;
    cursor: grab;

}

.logo img{
    width: 30vh;
    height: 30vh;
    background-size: cover;
    position: absolute;
    top: 5px;
    left: 15px; 
    filter: drop-shadow(0px 5px 1px white);
}
.name{
    /* display: flex; */
    height: 6vh;
    width: 100%;
    /* margin-top: 10px; */
    margin-left: 8vh;
    text-align: center;
    box-sizing: border-box;
    /* padding: 5px 5px; */
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    font-weight: 800;
    /* display: none; */
    display: flex;
    justify-content: space-between;
}
.name img{
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.main{
    max-width: 100%;
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(./images/iiserb.jpeg);
    background-size: cover;
}
.navbar{
    width: 100%;
    height: 8vh;
    z-index: 999;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    /* background: blue; */
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar .content{
    max-width: 100%;
    width: 100%;
    height: 6vh;
    position: relative;
    top: 0%; 

}
.navbar .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: red; */
    text-align: center;
    padding-top: 30px;


    
}
.icon{
    font-size: 20px;
    display: none;
    cursor: pointer;
}
.icon.menu-btn{
    position: absolute;
    right: 30px;
}
.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
.list{
    width: 100%;
    height: 8vh;
    /* position: absolute; */
    box-sizing: border-box;
    display: flex;

    font-family:'Poppins',sans-serif;
}

.list li{
    list-style-type: none; 
    padding-right: 20px;
    /* display: inline-block; */
}
.list li a{

    font-size: 19px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: 600;
    border: 1px solid transparent;
    transition: all 0.2s linear;
}
.main2{
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background: white;
    background-attachment: fixed;
    background-size: cover;

}
.aboutus{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    background: #eee;
    text-align: center;
    align-items: center;
}
.header{
    font-size: 2rem;
    font-family: 'Montserrat';
    position: relative;
    top: 15%;
    left: -1%;
}
.main2 p{
    font-size: 1rem;
    font-family:'Poppins';
    width: 90%;
    background: white;
    padding: 10px;
    margin: 0;
    position: relative;
    margin-top: 30px;
    left: 5%;
}

li a:active{
    color:rgba(0, 0, 0, 0.5);
    background: white
}
li a:hover{
    border-color: white;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    background: white;
    text-shadow: 0px 3px 5px rgba(88, 78, 78, 0.078);
}
.material-symbols-outlined{
    -webkit-animation: leadarrow 1.5s infinite;
  	animation: leadarrow 1.5s infinite;
}
.material-symbols-outlined:hover{
    cursor: pointer;
    
}

@-webkit-keyframes leadarrow {
    0% {
      -webkit-transform:  translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform:  translate(0px, 20px);
      opacity: 0;
    }
  }
.title{
    width: 80%;
    height: 50vh;
    box-sizing: border-box;
    padding: 10px 0px 0px 0px;
    color: white;
    position: relative;
    top: 35%;
    left: 5%;
    text-align: center;
}

.sac{
    font-size: 3.7rem;
    font-family: 'Montserrat', serif;
    position: absolute;
    left: 25%;
    top: 10%;
    padding: 10px 0px;
    text-shadow: 0px 5px 10px black;
}

.iiserb{
    font-size: 2rem;
    position: absolute;
    left: 25%;
    font-family:'BEBAS NEUE', cursive;
    top: 35%;
    text-shadow: 0px 5px 10px black;
    letter-spacing: .2em;
    margin: 0 auto;

}




@media (min-width: 900px)
{

.title .sac{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.05em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 70% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  
  .fa-bars{
    color: white;
    margin-right: 50px;
  }

} 
.main{
    text-align: center;
    align-items: center;
} 


.titlebar{
    width: 100%;
    box-sizing: border-box;
    padding-block: 50px;
    text-align: center;
}

.mem-title{
    width: 100%;
    text-align: center;
    font-weight: 20;
    color: white;
    font-size: 2rem
}
.underline{
    width: 100%;
    height: 10px;
    margin-top: -10px;
    text-align: center;
}

.members{
    box-sizing: border-box;
    width: 80%;
    height: auto;
    /* border: 2px solid white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    left: 10%
}
.row{
    /* border: 2px solid blue; */
    width: 100%;
    height: 300px;
    display: flex;
    min-width: 80%;
    justify-content: space-between;   
}
.box{
    width: 33%;
    height: 100%;
    /* border: 2px solid red; */
    padding: 10px;
    color: white;
    line-height: 0.51em;
}
.box img{
    height: 200px;
    background: white;
    width: 200px;
    object-fit: cover;
    filter: drop-shadow(0px 3px 1px #111);
}




@media only screen and (max-width: 972px){
    .main{overflow: hidden;}
    .icon{
        display: block;
        size: 40px;
        color: black;
    }
    .logo img{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;

    }
    .name img{
        
        top: 10px;
        left: 10px;
        display: block;
        filter: drop-shadow(0px 3px 1px #ddd);
    }
    
    .title{
        position: relative;
        top: 10%;
        left: 0%;
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;

    }
    .sac{
        position: relative;
        font-size: 3rem;

        top: 0;
        left: 0%;
    }
    .iiserb{
        position: relative;
        top: 10%;
        left: 0%;
    }
    .fa-bars{
        position: relative;
        top:0%;
        left:0;
        margin-top: 10px;
        font-size: 30px;
        transition: all 0.4s ease;
        padding: 10px;
        border-radius: 20%;
        border: 2px solid #aaa;
        color: white;
    }

    .fa-times{
        font-size: 30px;
        margin-right: 25px;
        padding: 10px;
    }
    .fa-times:active{background: black; color: white;}
    .name{
        display: flex;
        align-items: center;
    }
    .material-symbols-outlined{
        display: none;
    }
    .navbar{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .navbar .list{
        margin: 0;
        position: fixed;
        text-align: center;
        top: 0%;
        left: -100%;
        display: block;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: white;
        border: 2px solid grey;
        float: none;
        text-align: center;
        transition: all 0.5s ease;
        padding: 0;

    }
    .navbar .list li{
        box-sizing: border-box;
        margin-top: 10px;
        padding: 35px;
        text-align: center;
        line-height: 10px;
        top: 10%

    }
    .navbar .list.active{
        left: 0;
    }
    .navbar .list li a {
        color: black;
        border-style: none;
        font-size: 30px;
        background: none;

    }
    .navbar .list li:hover, .list li:active{
        background: #555;
        
    }

    .navbar .list li:hover > a{
         color: white;
    }
    .menu-btn.hide{
        
        display: none;
    }
    i{
        size: 5rem
    }
    .row{
        flex-direction: column;
        height: 100%
    }
    .box{
        width: 100%;
    }

    

}